div.container 
  nav(class="navbar navbar-default")
    div.navbar-header
      div.navbar-brand
        a(href='/') Resume
    ul(class="nav nav-tabs")
      li
        a(href="/skills") Skills
      li
        a(href="/experience") Experiences
      li
        a(href="/references") References
      li
        a(href="/projects") Projects